/* google fonts linking here */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* common css start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-btn {
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #1d4ed8;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.8s ease-in-out;
}
.main-btn:hover {
  background-color: transparent;
  color: #575757;
  border: 1px solid #1d4ed8;
}
/* common css end */

/* Header Section Start Here */
header {
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: #575757;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.navbar ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  transition: 0.8s ease-in-out;
}
.navbar ul li a:hover {
  color: #1d4ed8;
  cursor: pointer;
}
/* Header Section End Here */

/* Hero Section Start Here */
.hero-section {
  position: relative;
  min-height: 786px;
  background:
    linear-gradient(rgba(10, 10, 20, 0.55), rgba(10, 10, 20, 0.75)),
    url("../images/banner.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content {
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
}

.hero-content p {
  color: white;
  width: 580px;
}
.hero-btn {
  margin-top: 250px;
  color: white !important;
}
/* Hero Section End Here */

/* Speakers Section Start Here */
.speakers {
  padding-top: 90px;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700px;
  color: #000102;
  margin-bottom: 45px;
}
.speakers-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.speakers-card {
  border: 0.5px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.speakers-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.speakers-card img {
  width: 100%;
  object-fit: cover;
}
.speakers-content {
  padding: 20px;
}
.speakers-content p {
  color: #1d4ed8;
  font-weight: 600;
  font-size: 14px;
}
.speakers-content h3 {
  font-size: 20px;
  margin: 8px 0;
}
.speakers-content .pos {
  color: #575757;
  font-weight: 400;
  font-size: 14px;
}
/* Speakers Section End Here */

/* Price Section Start Here */
.price {
  padding-top: 90px;
}
/* Price Section End Here */

/* Header Section Start Here */
/* Header Section End Here */

/* Footer Section Start Here */
/* Footer Section End Here */
